body {
    text-align: center;
}

.title {
    font-family: 'Galindo', cursive;
}

.score i {
    color: orange;
    font-size: 24px;
}

@keyframes win {
    0% {transform: scale(1.5)}
    50% {transform: scale(1)}
    75% {transform: scale(1.2)}
    100% {transform: scale(1)}
}